<section class="subscribe-form">
    <h3 class="subscribe-form-title">S'inscrire à {{@site.title}}</h3>
    <p class="subscribe-form-description">Restez à jour ! Récupérez les dernières publications directement dans votre boîte de réception.</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="youremail@example.com" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">S'inscrire</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Génial !</strong> Vérifiez votre boîte de réception et cliquez sur le lien de confirmation.
        </div>
        <div class="message-error">
            Merci de renseigner une adresse email valide !
        </div>
    </form>
</section>