/* Global
/* ---------------------------------------------------------- */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    color: #414141;
    background-color: #fdfeff;
}

.post-card-excerpt, .post-full-content, .post-full-custom-excerpt{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}

/* Header
/* ---------------------------------------------------------- */

.site-header-background, .site-nav-main, .site-header-background:not(.responsive-header-img) .site-nav-left-wrapper:after, .site-nav-main .site-nav-left-wrapper:after {
    background: white;
    color: #414141;
}

.site-nav-main {
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);

}

.nav li a, .site-nav-logo, .nav-post-title {
    color: #3f3f3f;    
}

.social-link svg, .rss-button svg {
    fill: #3f3f3f;    

}

/* Index
/* ---------------------------------------------------------- */

.post-card-title, .post-full-title, .post-full-byline-meta h4 a, .site-title, .no-image .author-social-link a {
    color: #414141;

}

.post-card-excerpt {
    color: #767676;
}

/* Post
/* ---------------------------------------------------------- */

.post-card-primary-tag, a {
     color: #3eb0ef; 
}

.post-full-content blockquote {
    border-left: 3px solid #3eb0ef; 
}

.post-full-content h1, .post-full-content h2, .post-full-content h3, .post-full-content h4, .post-full-content h5, .post-full-content h6 {
    color: #414141;
}

.post-full-content a {
    color: #414141;
    box-shadow: inset 0 -1px 0 #414141;
}

/* Post Footer
/* ---------------------------------------------------------- */
.read-next {
    background: #f4f5f7;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.read-next-card{
    background: #414141 no-repeat 50%;
}
.read-next .post-card-primary-tag {
    color: #3eb0ef;
    opacity: 1;
}

.read-next .static-avatar {
    border-color: transparent;
}

.read-next .post-card-byline-content {
    color: #8898aa;
}

.read-next .post-card-title, .read-next .post-card-byline-content a  {
    color: #090a0b !important
}
.read-next .post-card-excerpt {
    color: #767676;
}

/* Footer
/* ---------------------------------------------------------- */

.site-footer  {
    background: #fff;
}

.site-footer-content, .site-footer-content a {
    color: #414141;
}

.site-footer-content a:hover {
    color: #525f7f;
}

.site-footer-nav a svg {
    fill: #414141 !important;
    width: 18px;
}
.site-footer-nav a svg:hover {
    fill: #525f7f !important;
}

/* À LA UNE
/* ---------------------------------------------------------- */
.main-header {
    display: inline-block;
    width: 100%;
}

.gg-search {
    float:right;
}

.gg-search-tag {
    color : #3eb0ef;
    margin: 0 0 .2em;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .2px;
    text-transform: uppercase;
    float:right;
}

.gg-search-container {
    padding-top: 2rem;
}

.gsc-control-cse {
    padding-right: 0 !important;
}
/*
.site-main {
    z-index: 1001;
    flex-grow: 1;
}
*/

.a-la-une {
    float: left;
}

.a-la-une-tag {
    color : #3eb0ef;
    margin: 0 0 .2em;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .2px;
    text-transform: uppercase;
}

.a-la-une-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.a-la-une-cards .card {
    padding: 0.4rem;
}

.a-la-une-cards a{
    color:#414141;
    padding: 1rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    will-change: transform;
    display: block;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    user-select: none;
    border-radius: .6rem;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.5rem;
}